* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

table {
    border-spacing: 0;
}

.field {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0;
    background-color: rgb(200, 200, 200);
}

.field-clicked {
    pointer-events: none;
    cursor: not-allowed;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0;
    border: 1px solid rgb(200, 200, 200);
    background-color: rgb(230, 230, 230);
}

.number-1 {
    color: rgb(55, 55, 255);
}

.number-2 {
    color: green;
}

.number-3 {
    color: red;
}

.number-4 {
    color: darkblue;
}

.number-5 {
    color: darkred;
}

.number-6 {
    color: darkcyan;
}

.number-7 {
    color: black;
}

.number-8 {
    color: darkgray;
}

.explode {
    background-color: pink;
}

.mark {
    background-color: yellow;
}